/* - INDEX PAGE - */
.miniLogo 
{
    background-image: url("../images/miniLogo.png");
    height: 50px;
    width: 150px;
    background-size: 115px;
    background-repeat: no-repeat;
    background-position: 8px;
}

.slideOne
{background-image: url("../images/banner1.png");}

.slideTwo
{background-image: url("../images/banner2.png");}

.slideThree
{background-image: url("../images/banner3.png");}

.slideFour
{background-image: url("../images/banner4.png");}

#childIcon
{
  background-image: url("../images/childIcon.png");
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 3px;
  background-size: 30px;
}

#youngIcon
{
  background-image: url("../images/youngIcon.png");
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 3px;
  background-size: 30px;
}

#oldIcon
{
  background-image: url("../images/oldIcon.png");
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 3px;
  background-size: 30px; 
}

.h4fixed{margin-left: 45px;}

.breadcrumb a{color: #A2A2A2 !important;}
.breadcrumb a:hover{color: #367100 !important;}
.breadcrumb .active {color: black !important;}

.whiteP{color: white;}
.childDiv, .adolesDiv, .adultDiv{background-color: #367100 !important;}

/* - ABOUT PAGE - */

#psicodiagnostico, #vocacional, #neuroPsico, #psicoMotora, #paisebebes, #psicoPedagogica, #orientacaoPais, #orientacaoFilhos, #autista, #atrasoDesenvolvimento, #psicoterapia, #terapiaCasal{cursor: pointer;}

.pointBall{  
  background-repeat: no-repeat;
  background-color: #367100;
  height: 50px;
  border: 0px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 50px !important;
}

.sv1{
  background-image: url("../images/sv1.png");
  background-position: 9px 9px;
}
.sv2{
  background-image: url("../images/sv2.png");
  background-position: 9px 9px;
}
.sv3{
  background-image: url("../images/sv3.png");
  background-position: 9px 9px;
}
.sv4{
  background-image: url("../images/sv4.png");
  background-position: 9px 9px;
}
.sv5{
  background-image: url("../images/sv5.png");
  background-position: 9px 9px;
}
.sv6{
  background-image: url("../images/sv6.png");
  background-position: 9px 9px;
}
.sv7{
  background-image: url("../images/sv7.png");
  background-position: 9px 9px;
}
.sv8{
  background-image: url("../images/sv8.png");
  background-position: 9px 9px;
}
.sv9{
  background-image: url("../images/sv9.png");
  background-position: 9px 9px;
}
.sv10{
  background-image: url("../images/sv10.png");
  background-position: 9px 9px;
}
.sv11{
  background-image: url("../images/sv11.png");
  background-position: 9px 9px;
}
.sv12{
  background-image: url("../images/sv12.png");
  background-position: 9px 9px;
}
.sv13{
  background-image: url("../images/sv13.png");
  background-position: 9px 9px;
}
.sv14{
  background-image: url("../images/sv14.png");
  background-position: 9px 9px;
}
.sv15{
  background-image: url("../images/sv15.png");
  background-position: 9px 9px;
}

.baby{background-color: #D42A2A;}
.young{background-color: #D0B400;}
.old{background-color: #3F9BDC;}

#sendBtn{
  background-color: #367100 !important;
  border: 0px;
}
#sendBtn:hover{
  background-color: #1b3800 !important;
}